*{
    margin: 0;
    padding:0;
}


.head {
    /* width:100%; */
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 1%;
    /* border: 1px solid black;
    */
}

.man{
    display: flex;
    background-color: rgb(174, 177, 180);
    height: 40px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  
}
.evanyate{
    font-size: 20px;
    /* border: 1px solid black; */
    /* background-color: antiquewhite; */
    /* border-radius: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.sidebaar{
    height: 100%;
    width: 200px;
    background-color: beige;
    
    /* justify-content:left; */
}
.rightmain{
    /* width: 100%; */
    /* margin-left: 20px; */
    padding-bottom: 30px;
}
.rectangle{
    /* width: 100%;    */
    /* height: 200px; */
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    /* flex-direction: column; */

}

.rectangle>div{
    line-height: 40px;
}

.cornerimage{
    display: flex;
    width: 400px;
  
}

.imgset{
    display: flex;
    flex-direction: column;
}

.imgset img:nth-child(1){
    width: 100px;
}
.imgset img:nth-child(2){
    width: 100px;}

.maincontainer{
    display: flex;
    gap: 10px;
    /* width: 100%; */
}
/* p{
  padding-left: 20px;

} */
button{
    margin-left: 20px;
    /* color: rgb(41, 13, 180); */
    height: 40px;
    width: 50px;
    border-radius: 15px;
    background-color: rgb(52, 24, 190);
}

#down{
    margin-top: 20px;
}
#size{
     font-size: 25px;
}
.medium{
    font-size: 13.72px;
    font-style:light;
    
}
.button{
    color: rgb(231, 234, 237);
    width: 100px;
    font-weight: 500;
    /* background-color: rgb(130, 123, 152); */
    
}
.img {
    width: 54px;
    height: 55px;
   display: flex;
}
.logo img{
   width: 120px;
   height: 51px;
   margin-left: 10px;
   margin-top: 10px;
}
.Dashboard p{
    background-color: rgb(215, 175, 123);
    /* display: flex; */

    margin-top: 50px;
   padding: 10px;
    font-size: larger;
    text-align: center;
    
}
.lst{
    margin-top: 50px;
   text-align: center;
  
}
.lst select{
    width: 100%;
   background-color: antiquewhite;
    border: none;
    padding: 10px 0;
}
option{
    border: none;
    text-align: center;
}
.boxes {
    border: 1px solid black;
    /* width: 100%; */
    /* height: 130px; */
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boxes .box{
    background-color: aliceblue;
    border: 1px solid black;
    width: 250px;
    height: 100px;
    display: flex;
font-size: 30px;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: row; */
    margin: 7px;
    border-radius: 15px;
    gap: 30px;

}



.anju{
    border: 3px solid black;
    border-color: forestgreen;
   border-radius: 50%;
   width: 60px;
   height:60px;
display: flex;
justify-content: center;
align-items: center;
padding-left: 0px;


}
.progress{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
  
    font-size: larger;
    color: aliceblue;

}
.pro{
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 22px;
}


.column{
   color: black;
   background-color: aliceblue;
   padding-left: 10px;
   width: 120px;
   font-size: 25px;
}
.mid{
 font-style: semibold;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600px;
    width: 100px;
}
.allbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    /* justify-content: space-between; */
}

.box1{
     border: 1px solid black;
/* height: 250px; */
    width: 49%;
    display: flex;
    
    flex-direction: column;
   
        
    
}
.taskhead{
    /* width: 100%; */
    /* height: 45px; */
    border: 1px solid black;
    display: flex;
    /* padding-top: 10px; */
    /* justify-content: center; */
    align-items: center;
    background-color: blue;
    color: white;
    padding-left:10px;
    justify-content: center;

    justify-content: space-evenly;
    
}
.bold{
    font-size: 22px;
    padding-left: 20px;
}
.size1{
    font-size:12px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}
.description{
     margin-top: 15px;
     padding-left: 20px;
  
}
.bold1{
    font-weight: bold;
    font-size: 22px;

   
}
.tskdet{
   
    font-size:22px ;
    color: rgb(198, 186, 186);
    /* background-color: aliceblue; */

}
.website{
     margin-top: 10px;
    font-size: 16px;
    
}

.currentdiv{
    display: flex;
    justify-content: space-between;

}
.currentstatus{
    /* margin-left: 100px; */
    margin-top: 10px;
    font-size: 22px;
    padding-right: 30px;
}
.img{
    background-color: rgb(59, 161, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-left: 47px;
    margin-top: 8px;
    border-radius: 50%;
}
.com{
    font-size: 16px;
    margin-left: 30px;
    /* margin-top: 7px; */
}
.assig{
    display: flex;
   
    align-items: center;
   
justify-content: space-around;
    
    
}
.assi{
    font-size: 22px;
   
}
.tsname{
    font-size: 16px;
    padding-left: 0px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.icon{
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
  
}
.upt{
    font-size: 22px;
    /* margin-left: 170px; */
    border: 1px solid black;
    background-color: rgb(183, 183, 220);
    padding-left: 0px;
}



@media screen and (min-width:500px){
  
    .allbox{
        flex-wrap: wrap;
    }
}